@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@500&family=Jua&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Jua', sans-serif;
    background: linear-gradient(180deg, #ED5E5E 4.17%, #E67A7A 50%, #FF9393 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-parent {
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 10px;

    border-width: 220px;
    border-color: black;
}

.login-parent h1 {
    margin: 30px 0;
    text-align: center;
}

.login-parent button {
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
    background-color: #7766FF;
}

.credentials {
    gap: 15px;
    margin-bottom: 50px;
    width: 10vw;
}

.credential {
    max-width: 200px;

}

.credential h3 {

    text-align: left;

}