* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: linear-gradient(180deg, #ED5E5E 4.17%, #E67A7A 50%, #FF9393 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-parent {
    background-color: white;
    height: 66vh;
    width: 20vw;

    text-align: center;
}

.login-parent h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.credentials {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;

}

.credential {
max-width: 200px;

}

.credential h3 {

text-align: left;

}